@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color: #fff;
  --html-bg: #e44d26;
  --css-bg: #264de4;
  --js-bg: #f0db4f;
  --php-bg: #8d96c0;
  --sql-bg: #00758f;
  --laravel-bg: #ee4423;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: rgba(235, 235, 235, 255);
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 5rem;
  font-weight: 200;
  margin-block-end: 0;
}

h2,
h3,
h4,
h5 {
  font-weight: 300;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  transition: transform 1s, opacity 0.9s;
  height: 15rem;
}

.main-header {
  background-image: url(../src/header.png);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  transition: opacity 0.3s;

  & ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0px;

    & li {
      cursor: pointer;
      opacity: 0.6;
      transition: opacity 0.3s, font-weight 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.active {
  opacity: 1 !important;
  font-weight: bold;
}

.content {
  width: 60vw;
  margin: 5vh auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1.5rem;
}

.card {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;

  transition: transform 0.3s;

  &:hover {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  & span {
    font-size: 1rem;
  }

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
  }

  & .card-content {
    width: 100%;
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 1;
    background-color: var(--background-color);
  }

  & .desc {
    padding: 1rem;
    font-size: 1rem;
  }
}

.langs {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
}

.html {
  background-color: var(--html-bg);
  height: 100%;
}

.css {
  background-color: var(--css-bg);
  height: 100%;
}

.js {
  background-color: var(--js-bg);
  height: 100%;
}

.php {
  background-color: var(--php-bg);
  height: 100%;
}

.sql {
  background-color: var(--sql-bg);
  height: 100%;
}

.laravel {
  background-color: var(--laravel-bg);
  height: 100%;
}

#lang-legend {
  position: absolute;
  left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.5rem;

  & span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }
}

.legend {
  width: 1.5rem;
  height: 2px;
}

